-- Table: sumber_dana
CREATE TABLE IF NOT EXISTS public.sumber_dana (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    mitra_id UUID NOT NULL REFERENCES public.users(id) ON DELETE CASCADE,
    nama_akun TEXT NOT NULL,
    kategori TEXT NOT NULL CHECK (kategori IN ('BANK', 'E-WALLET', 'CASH')),
    saldo NUMERIC NOT NULL DEFAULT 0,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Table: counter_products
CREATE TABLE IF NOT EXISTS public.counter_products (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    mitra_id UUID NOT NULL REFERENCES public.users(id) ON DELETE CASCADE,
    jenis TEXT NOT NULL CHECK (jenis IN ('VOUCHER', 'PERDANA', 'ACC')),
    provider_kategori TEXT NOT NULL,
    nama_produk TEXT NOT NULL,
    harga_beli NUMERIC NOT NULL DEFAULT 0,
    harga_jual NUMERIC NOT NULL DEFAULT 0,
    stok INT NOT NULL DEFAULT 0,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Table: pengaturan_margin
CREATE TABLE IF NOT EXISTS public.pengaturan_margin (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    mitra_id UUID NOT NULL REFERENCES public.users(id) ON DELETE CASCADE,
    tipe_perhitungan TEXT,
    layanan_terkait TEXT NOT NULL,
    nominal_awal NUMERIC DEFAULT 0,
    akhir_persentase NUMERIC DEFAULT 0,
    keuntungan NUMERIC DEFAULT 0,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Enable RLS
ALTER TABLE public.sumber_dana ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.counter_products ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.pengaturan_margin ENABLE ROW LEVEL SECURITY;

-- Policies
CREATE POLICY "Select sumber_dana" ON public.sumber_dana FOR SELECT USING (public.is_superadmin() OR mitra_id = public.get_admin_id());
CREATE POLICY "Insert sumber_dana" ON public.sumber_dana FOR INSERT WITH CHECK (mitra_id = public.get_admin_id());
CREATE POLICY "Update sumber_dana" ON public.sumber_dana FOR UPDATE USING (mitra_id = public.get_admin_id());
CREATE POLICY "Delete sumber_dana" ON public.sumber_dana FOR DELETE USING (mitra_id = public.get_admin_id());

CREATE POLICY "Select counter_products" ON public.counter_products FOR SELECT USING (public.is_superadmin() OR mitra_id = public.get_admin_id());
CREATE POLICY "Insert counter_products" ON public.counter_products FOR INSERT WITH CHECK (mitra_id = public.get_admin_id());
CREATE POLICY "Update counter_products" ON public.counter_products FOR UPDATE USING (mitra_id = public.get_admin_id());
CREATE POLICY "Delete counter_products" ON public.counter_products FOR DELETE USING (mitra_id = public.get_admin_id());

CREATE POLICY "Select pengaturan_margin" ON public.pengaturan_margin FOR SELECT USING (public.is_superadmin() OR mitra_id = public.get_admin_id());
CREATE POLICY "Insert pengaturan_margin" ON public.pengaturan_margin FOR INSERT WITH CHECK (mitra_id = public.get_admin_id());
CREATE POLICY "Update pengaturan_margin" ON public.pengaturan_margin FOR UPDATE USING (mitra_id = public.get_admin_id());
CREATE POLICY "Delete pengaturan_margin" ON public.pengaturan_margin FOR DELETE USING (mitra_id = public.get_admin_id());

